<a href="https://colab.research.google.com/github/programacaodinamica/dicas-pandas/blob/master/Dica_de_Pandas_Conversao_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Alterar letras maiusculas  para minusculas no dataframe

In [ ]:
import pandas as pd

In [ ]:
teste_df = pd.util.testing.makeMixedDataFrame()

In [ ]:
teste_df

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [ ]:
teste_df['C'].str.upper()

0    FOO1
1    FOO2
2    FOO3
3    FOO4
4    FOO5
Name: C, dtype: object

In [ ]:
teste_df['C'] = teste_df['C'].str.lower()

In [ ]:
teste_df

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07