## Como saber se dois DataFrames são iguais

link para documentação: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.testing.assert_frame_equal.html?highlight=assert#pandas.testing.assert_frame_equal

In [4]:
from pandas.testing import assert_frame_equal
import pandas as pd

In [5]:
df1 = pd.DataFrame({'a': [1, 2], 'b': [3, 4]})
df2 = pd.DataFrame({'a': [1, 2], 'b': [3.0, 4.0]})

In [6]:
assert_frame_equal(df1, df1)

In [7]:
df3 = df1

In [8]:
df3

   a  b
0  1  3
1  2  4

In [9]:
df1

   a  b
0  1  3
1  2  4

In [10]:
assert_frame_equal(df1, df3)

In [11]:
df3['c'] = [5,6]

In [12]:
df3

   a  b  c
0  1  3  5
1  2  4  6

In [13]:
assert_frame_equal(df1, df3)

In [14]:
df1

   a  b  c
0  1  3  5
1  2  4  6

In [15]:
df4 = df1.copy()

In [16]:
df1

   a  b  c
0  1  3  5
1  2  4  6

In [17]:
df4

   a  b  c
0  1  3  5
1  2  4  6

In [18]:
assert_frame_equal(df1, df4)

In [19]:
df4['d']=[7,8]

In [20]:
df4

   a  b  c  d
0  1  3  5  7
1  2  4  6  8

In [21]:
assert_frame_equal(df1, df4)

AssertionError: DataFrame are different

DataFrame shape mismatch
[left]:  (2, 3)
[right]: (2, 4)

In [22]:
df1

   a  b  c
0  1  3  5
1  2  4  6