## Ordernar o resultado do método describe()

link para documentação: https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [1]:
import pandas as pd

Link para o conjunto de dados: http://www.dados.gov.br/dataset/precos-de-medicamentos-governo

In [2]:
FILE_PATH = '../Data/TA_PRECO_MEDICAMENTO_GOV.csv'

In [3]:
meds = pd.read_csv(FILE_PATH, encoding="ISO-8859-1", sep=';',low_memory=False)

In [7]:
meds.head()

,PRINCÍPIO ATIVO,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,TARJA,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
0,ABATACEPTE,56.998.982/0001-07,BRISTOL-MYERS SQUIBB FARMACÊUTICA LTDA,505107701157215,1018003900019,7.896017e+12,NaN,NaN,ORENCIA,250 MG PO LIOF INJ CT FA + SER DESC,...,Venda Livre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABATACEPTE,56.998.982/0001-07,BRISTOL-MYERS SQUIBB FARMACÊUTICA LTDA,505113030019605,1018003900027,7.896017e+12,NaN,NaN,ORENCIA,125 MG/ML SOL INJ CT 1 SER PREENCHIDA,...,Venda Livre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABATACEPTE,56.998.982/0001-07,BRISTOL-MYERS SQUIBB FARMACÊUTICA LTDA,505113030019705,1018003900035,7.896017e+12,NaN,NaN,ORENCIA,125 MG/ML SOL INJ CT 4 SER PREENCHIDA,...,Venda Livre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABATACEPTE,56.998.982/0001-07,BRISTOL-MYERS SQUIBB FARMACÊUTICA LTDA,505113030019805,1018003900043,7.896017e+12,NaN,NaN,ORENCIA,125 MG/ML SOL INJ CT 1 SER PREENCHIDA + DISPOS...,...,Venda Livre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABATACEPTE,56.998.982/0001-07,BRISTOL-MYERS SQUIBB FARMACÊUTICA LTDA,505113030019905,1018003900051,7.896017e+12,NaN,NaN,ORENCIA,125 MG/ML SOL INJ CT 4 SER PREENCHIDA + DISPOS...,...,Venda Livre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
meds.describe().sort_values(by='mean', axis=1)

,EAN 2,EAN 1,CÓDIGO GGREM,EAN 3,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
count,1.620000e+02,2.567900e+04,2.568100e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.589322e+12,7.912145e+12,5.209199e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.423914e+12,1.941173e+12,1.432806e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.619589e+11,7.890511e+07,5.001001e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.894917e+12,7.896005e+12,5.080023e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.896006e+12,7.896523e+12,5.219121e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7.896714e+12,7.898147e+12,5.313140e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8.054083e+12,7.898850e+13,5.767191e+14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
meds.describe().T.sort_values(by='mean')

,count,mean,std,min,25%,50%,75%,max
EAN 2,162.0,7.589322e+12,1.423914e+12,3.619589e+11,7.894917e+12,7.896006e+12,7.896714e+12,8.054083e+12
EAN 1,25679.0,7.912145e+12,1.941173e+12,7.890511e+07,7.896005e+12,7.896523e+12,7.898147e+12,7.898850e+13
CÓDIGO GGREM,25681.0,5.209199e+14,1.432806e+13,5.001001e+14,5.080023e+14,5.219121e+14,5.313140e+14,5.767191e+14
EAN 3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 41,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 42,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 43,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 44,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 45,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 46,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 47,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 48,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 49,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN