## Variáveis categóricas

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

In [1]:
import pandas as pd

In [4]:
microdados_enem = pd.read_csv('../Data/microdados_enem_2018/DADOS/MICRODADOS_ENEM_2018.csv',nrows=0,sep=';',encoding='ISO-8859-1')

In [5]:
microdados_enem.head()

Empty DataFrame
Columns: [NU_INSCRICAO, NU_ANO, CO_MUNICIPIO_RESIDENCIA, NO_MUNICIPIO_RESIDENCIA, CO_UF_RESIDENCIA, SG_UF_RESIDENCIA, NU_IDADE, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA, TP_NACIONALIDADE, CO_MUNICIPIO_NASCIMENTO, NO_MUNICIPIO_NASCIMENTO, CO_UF_NASCIMENTO, SG_UF_NASCIMENTO, TP_ST_CONCLUSAO, TP_ANO_CONCLUIU, TP_ESCOLA, TP_ENSINO, IN_TREINEIRO, CO_ESCOLA, CO_MUNICIPIO_ESC, NO_MUNICIPIO_ESC, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, TP_SIT_FUNC_ESC, IN_BAIXA_VISAO, IN_CEGUEIRA, IN_SURDEZ, IN_DEFICIENCIA_AUDITIVA, IN_SURDO_CEGUEIRA, IN_DEFICIENCIA_FISICA, IN_DEFICIENCIA_MENTAL, IN_DEFICIT_ATENCAO, IN_DISLEXIA, IN_DISCALCULIA, IN_AUTISMO, IN_VISAO_MONOCULAR, IN_OUTRA_DEF, IN_GESTANTE, IN_LACTANTE, IN_IDOSO, IN_ESTUDA_CLASSE_HOSPITALAR, IN_SEM_RECURSO, IN_BRAILLE, IN_AMPLIADA_24, IN_AMPLIADA_18, IN_LEDOR, IN_ACESSO, IN_TRANSCRICAO, IN_LIBRAS, IN_LEITURA_LABIAL, IN_MESA_CADEIRA_RODAS, IN_MESA_CADEIRA_SEPARADA, IN_APOIO_PERNA, IN_GUIA_INTERPRETE, IN_COMPUTADOR, IN_CADEIRA_ESPECIAL, IN_CADEIRA_CANHOTO, IN_CADEIRA_ACOLCHOADA, IN_PROVA_DEITADO, IN_MOBILIARIO_OBESO, IN_LAMINA_OVERLAY, IN_PROTETOR_AURICULAR, IN_MEDIDOR_GLICOSE, IN_MAQUINA_BRAILE, IN_SOROBAN, IN_MARCA_PASSO, IN_SONDA, IN_MEDICAMENTOS, IN_SALA_INDIVIDUAL, IN_SALA_ESPECIAL, IN_SALA_ACOMPANHANTE, IN_MOBILIARIO_ESPECIFICO, IN_MATERIAL_ESPECIFICO, IN_NOME_SOCIAL, CO_MUNICIPIO_PROVA, NO_MUNICIPIO_PROVA, CO_UF_PROVA, SG_UF_PROVA, TP_PRESENCA_CN, TP_PRESENCA_CH, TP_PRESENCA_LC, TP_PRESENCA_MT, CO_PROVA_CN, CO_PROVA_CH, CO_PROVA_LC, CO_PROVA_MT, NU_NOTA_CN, NU_NOTA_CH, NU_NOTA_LC, NU_NOTA_MT, TX_RESPOSTAS_CN, TX_RESPOSTAS_CH, TX_RESPOSTAS_LC, TX_RESPOSTAS_MT, TP_LINGUA, TX_GABARITO_CN, ...]
Index: []

[0 rows x 137 columns]

In [6]:
microdados_enem.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [7]:
cols = ['NU_NOTA_MT', 'Q027']

In [8]:
microdados_enem = pd.read_csv('../dados/microdados-enem-2018/DADOS/MICRODADOS_ENEM_2018.csv',usecols=cols,sep=';',encoding='ISO-8859-1',
                             dtype={'Q027':'category'})

In [9]:
microdados_enem.head()

   NU_NOTA_MT Q027
0         NaN    A
1       480.3    A
2         NaN    A
3         NaN    A
4         NaN    A

In [10]:
microdados_enem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5513747 entries, 0 to 5513746
Data columns (total 2 columns):
NU_NOTA_MT    float64
Q027          category
dtypes: category(1), float64(1)
memory usage: 47.3 MB

In [11]:
microdados_enem.isna().sum()

NU_NOTA_MT    1608648
Q027                0
dtype: int64

In [12]:
microdados_enem.dropna(inplace=True)

In [13]:
microdados_enem.isna().sum()

NU_NOTA_MT    0
Q027          0
dtype: int64

In [14]:
microdados_enem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3905099 entries, 1 to 5513746
Data columns (total 2 columns):
NU_NOTA_MT    float64
Q027          category
dtypes: category(1), float64(1)
memory usage: 63.3 MB

Nota: Adicionei o comando abaixo, após um comentário no vídeo sobre o uso de memória

In [16]:
microdados_enem = microdados_enem.reset_index(drop=True)

In [17]:
microdados_enem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3905099 entries, 0 to 3905098
Data columns (total 2 columns):
NU_NOTA_MT    float64
Q027          category
dtypes: category(1), float64(1)
memory usage: 33.5 MB

In [18]:
microdados_enem['Q027_GRUPOS'] = microdados_enem['Q027'].cat.codes

In [19]:
microdados_enem['Q027'].value_counts()

A    2850097
D     526557
B     327804
C     104161
E      94813
F       1667
Name: Q027, dtype: int64

In [20]:
microdados_enem['Q027_GRUPOS'].value_counts()

0    2850097
3     526557
1     327804
2     104161
4      94813
5       1667
Name: Q027_GRUPOS, dtype: int64

In [21]:
microdados_enem.head()

   NU_NOTA_MT Q027  Q027_GRUPOS
0       480.3    A            0
1       538.8    A            0
2       733.8    A            0
3       459.0    A            0
4       525.4    A            0

In [22]:
microdados_enem.describe()

         NU_NOTA_MT   Q027_GRUPOS
count  3.905099e+06  3.905099e+06
mean   5.354056e+02  6.410552e-01
std    1.031512e+02  1.179987e+00
min    0.000000e+00  0.000000e+00
25%    4.553000e+02  0.000000e+00
50%    5.166000e+02  0.000000e+00
75%    6.007000e+02  1.000000e+00
max    9.961000e+02  5.000000e+00

In [23]:
pd.cut(microdados_enem.NU_NOTA_MT, bins=[0,400,500,600,800],labels=['baixa','média baixa','média alta','alta']).value_counts()

média baixa    1465276
média alta     1224868
alta            942984
baixa           232752
Name: NU_NOTA_MT, dtype: int64

In [24]:
microdados_enem['NU_NOTA_MT_GRUPOS']=pd.qcut(microdados_enem.NU_NOTA_MT, q=4,labels=['baixa','média baixa','média alta','alta'])

In [25]:
microdados_enem.head()

   NU_NOTA_MT Q027  Q027_GRUPOS NU_NOTA_MT_GRUPOS
0       480.3    A            0       média baixa
1       538.8    A            0        média alta
2       733.8    A            0              alta
3       459.0    A            0       média baixa
4       525.4    A            0        média alta